
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #594f4f;
}


.section {
    border: 2px solid #9DE0AD;
    border-radius: 8px;         
    padding: 20px;             
    margin: 20px 0;
    background-color: #547980;             
}


h1, h2, h3 {
    color: white;
}


p, ul {
    font-size: 16px;
    color: white;
}


ul {
    list-style-type: disc;
    margin-left: 20px;
}


hr {
    border: 0;
    border-top: 1px solid #547980;
    margin: 10px 0;
}


a {
    color: #547980;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.go-home-btn {
    position: fixed;
    bottom: 20px;
    right: 80px;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  /* Go Top Button Styling */
.go-top-btn {
    position: fixed;
    bottom: 20px;   /* Position it 20px from the bottom */
    right: 20px;    /* Position it 20px from the right */
    background-color: #333; /* Green background */
    color: white;   /* White text */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;  /* Rounded corners */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
  }
  
  .go-top-btn:hover {
    background-color: #333; /
  }
  nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #4CAF50;
}
